{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error",{"allow":["_id"]}],
    "no-unused-vars": [
      1,
      {
        "vars": "all",
        "args": "after-used",
        "argsIgnorePattern": "^_|^next$",
        "varsIgnorePattern": "^password$"
      }
    ],
    "no-mixed-spaces-and-tabs": "error",
    "no-tabs": ["error", { "allowIndentationTabs": true }],
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off",
    "comma-dangle": "off",
    "object-curly-newline": "off",
    "operator-linebreak": "off",
    "newline-per-chained-call": "off",
    "func-names": "off",

    "no-shadow": "off"
  }
}
